<ion-view view-title="SchoolBook" align-title="left" cache-view="false" ng-init="init()">
    <ion-header-bar style="background: #096D8F">
        <button class="button button-icon icon ion-chevron-left icon-yellow" ng-click="back()"></button>
    </ion-header-bar>
    <ion-content style="background: url(img/background1.png) center; background-size: cover;">
        <div class="list">
            <br>
            <div class="control-center60">
                <a class="font-title-white">SchooL</a><a class="font-title-red">BooK</a>
            </div>
            <br>
            <div style="margin: 5%">
                <a class="font20r">Estudiante:</a>
                <a class="font18w">Nombre del estudiante</a>
            </div>
            <div style="margin: 5%">
                <a class="font20r">Ruta:</a>
                <a class="font18w"># de la ruta</a>
            </div>
            <div style="margin: 5%">
                <a class="font20r">Hora del check:</a>
                <a class="font18w">Hola del check</a>
            </div>
            <button class="button button-small button-block ion-map icon-right control-center80 button-blue icon-yellow button-small">
                <a class="font20w">Ver en Mapa</a>
            </button>
        </div>
    </ion-content>
</ion-view>
